In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import numpy as np
cric=pd.read_csv("/content/cric_data .csv")
cric.head()

      Sachin Tendulkar  Rahul Dravid  India
0  0               100            78    342
1  1                11            62    191
2  2                 8            85    252
3  3                71            24    307
4  4               104            17    229

In [ ]:
cric.describe()

                   Sachin Tendulkar  Rahul Dravid       India
count  225.000000        225.000000    225.000000  225.000000
mean   112.000000         39.875556     32.062222  220.795556
std     65.096083         41.324096     30.812156   80.416122
min      0.000000          0.000000      0.000000    0.000000
25%     56.000000          6.000000      7.000000  175.000000
50%    112.000000         27.000000     22.000000  216.000000
75%    168.000000         63.000000     53.000000  273.000000
max    224.000000        186.000000    153.000000  499.000000

In [ ]:
cric.info

<bound method DataFrame.info of           Sachin Tendulkar  Rahul Dravid  India
0      0               100            78    342
1      1                11            62    191
2      2                 8            85    252
3      3                71            24    307
4      4               104            17    229
..   ...               ...           ...    ...
220  220                25            14    101
221  221               102            50    470
222  222                 0            22    165
223  223                27             0    192
224  224                40             0    213

[225 rows x 4 columns]>

In [ ]:
cric.shape

(225, 4)

In [ ]:
cric.iloc[5:10,2:]

   Rahul Dravid  India
5           104    246
6            76    226
7            74    288
8            60    216
9            12    224

In [ ]:
#Sachin Information
sachin=cric.iloc[:,1]

Sachin Analysis

In [ ]:
print("Sachin Analysis:")
print("First 5 records of Sachin:")
sachin.head()

Sachin Analysis
First 5 records of Sachin:

0    100
1     11
2      8
3     71
4    104
Name: Sachin Tendulkar, dtype: int64

In [ ]:
print("Last 5 records of Sachin:")
sachin.tail()

Last 5 records of Sachin:

220     25
221    102
222      0
223     27
224     40
Name: Sachin Tendulkar, dtype: int64

In [ ]:
print("Maximum Score of Sachin:")
sachin.max()

Maximum Score of Sachin:

186

In [ ]:
print("Minimum Score of Sachin:")
sachin.min()

Minimum Score of Sachin:

0

In [ ]:
print("Average Score of Sachin:")
sachin.mean()

Average Score of Sachin:

np.float64(39.87555555555556)

In [ ]:
print("No. of Half-centuries of Sachin:")
np.count_nonzero((sachin<100)&(sachin>49))

No. of Half-centuries of Sachin:

42

In [ ]:
print("No. of Centuries of Sachin:")
np.count_nonzero((sachin>100))

No. of Centuries of Sachin:

23

In [ ]:
print("Cumulative sum of Sachin Score:")
sachin_cumsum=np.cumsum(sachin)
sachin_cumsum

Cumulative sum of Sachin Score:

0       100
1       111
2       119
3       190
4       294
       ...
220    8803
221    8905
222    8905
223    8932
224    8972
Name: Sachin Tendulkar, Length: 225, dtype: int64

In [ ]:
#Dravid Information
dravid=cric.iloc[:,2]

In [ ]:
print("Dravid Analysis:")
print("First 5 records of Dravid:")
dravid.head()

Dravid Analysis:
First 5 records of Dravid:

0    78
1    62
2    85
3    24
4    17
Name: Rahul Dravid, dtype: int64

In [ ]:
print("Last 5 records of Dravid:")
dravid.tail()

Last 5 records of Dravid:

220    14
221    50
222    22
223     0
224     0
Name: Rahul Dravid, dtype: int64

In [ ]:
print("Maximum Score of Dravid:")
dravid.max()

Maximum Score of Dravid:

153

In [ ]:
print("Minimum Score of Dravid:")
dravid.min()

Minimum Score of Dravid:

0

In [ ]:
print("Average Score of Dravid:")
dravid.mean()

Average Score of Dravid:

np.float64(32.062222222222225)

In [ ]:
print("No. of Half-centuries of Dravid:")
np.count_nonzero((dravid<100)&(dravid>49))

No. of Half-centuries of Dravid:

170

In [ ]:
print("No. of Centuries of Dravid:")
np.count_nonzero(dravid>100)

No. of Centuries of Dravid:

8

In [ ]:
print("Cumulative sum of Dravid Score:")
dravid_cumsum=np.cumsum(dravid)
dravid_cumsum

Cumulative sum of Dravid Score:

0        78
1       140
2       225
3       249
4       266
       ...
220    7142
221    7192
222    7214
223    7214
224    7214
Name: Rahul Dravid, Length: 225, dtype: int64